li{
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

ul{
    width: 25vw;
    padding: 20px;
    margin-left: 36vw
}

h1{
    text-align: center;
}